/*cart_top样式的重写*/
.step .step1{
	background:#fe9994;
	color:#d8827e;
}
.step1 .step_number{
	background:#d8827e;
	color:#fff;
}
.step .step2{
	background:#f25e5a;
	color:#fff;
	font-weight:bolder;
}
.step2 .step_number{
	background:#fff;
	color:#f25e5a;
}
/*check_title*/
.check_title{
	color:#666;
	text-indent:120px;
	margin-top:60px;
	margin-bottom:10px;
}
.check_main{
	width:980px;
	height:620px;
	padding:20px;
	border:1px solid #ccc;
	border-bottom:none;
}
.reciver_info{
	width:970px;
	height:44px;
	line-height:44px;
	padding-bottom:10px;

}
.add_address{
	display:block;
	width:106px;
	height:28px;
	border:1px solid #ccc;
	float:right;
	line-height:28px;
	text-align:center;
	position:relative;
	color:#666;
}
.ico_add{
	display:block;
	width:12px;
	height:10px;
	position:absolute;
	top:10px;
	left:8px;
	background:url(../images/ico_symbol.png) no-repeat -24px -18px;
}
.add_address:hover{
	text-decoration:underline;
}
.checkout{
	width:980px;
	height:280px;
	padding-top:10px;
	padding-bottom:20px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.order_table{
	width:920px;
	height:180px;
	border:1px solid #ccc;
	margin-left:30px;
}
.o_th{
	width:920px;
	height:40px;
	background:#f7f7f7;
	line-height:40px;
	color:#666;
}
.o_th li{
	float:left;
}
.th_item{
	width:462px;
	padding-left:50px;
}
.th_price,.th_number{
	text-align:center;
}
.th_total{
	text-align:right;
}
.o_td{
	width:920px;
	height:100px;
}
.o_td li{
	float:left;
	line-height:100px;
}
.goods{
	width:80px;
	height:80px;
	background:url(../images/goods.jpg) no-repeat;
	background-size:cover;
	float:left;
	margin-left:34px;
	margin-top:10px;
	border:1px solid #ccc;
}
.goods_a{
	display:block;
	float:left;
	width:80px;
	height:80px;
	float:left;
}
.td_item{
	width:512px;
}
.td_item a{
	margin-left:20px;
	color:#666;
}
.td_item a:hover{
	text-decoration:underline;
}
.td_price{
	width:120px;
	text-align:center;
}
.td_number{
	width:96px;
	text-align:center;
	height:60px;
	padding-top:40px;
	padding-left:20px;
}
.td_number input{
	display:block;
	float:left;
	width:24px;
	height:24px;
	text-align:center;
	line-height:24px;
}
.td_number a{
	display:block;
	float:left;
	width:28px;
	height:28px;
	border:1px solid #ccc;
	position:relative;
}
.td_total{
	width:128px;
	text-align:right;
}
.ico_reduce{
	display:block;
	width:12px;
	height:2px;
	background:url(../images/ico_symbol.png) no-repeat -4px -22px;
	position:absolute;
	left:6px;
	top:12px;
}
.ico_plus{
	display:block;
	width:12px;
	height:12px;
	background:url(../images/ico_symbol.png) no-repeat -24px -18px;
	position:absolute;
	left:6px;
	top:6px;
}
.tips{
	width:920px;
	height:40px;
	border-top:1px solid #ccc;
	color:#666;
	line-height:40px;
	text-indent:80px;
}
.card{
	width:980px;
	height:130px;
	border-bottom:1px solid #ccc;
}
.card div{
	width:980px;
	height:80px;
	line-height:80PX;
}
.card p{
	font-size:12px;
	text-indent:28px;
	color:#666;
}
.payway{
	width:980px;
	height:50px;
	line-height:50px;
	font-size:14px;
}
.payway em{
	font-size:12px;
	color:#666;
}
.pay{
	width:138px;
	height:42px;
	border:2px solid #f00;
	line-height:42px;
	text-align:center;
	margin-left:30px;
	color:#666;
	position:relative;
	cursor:pointer;
}
.ico_right{
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	right:0;
	bottom:0;
	background:url(../images/ico-right.png) no-repeat -66px -20px;

}
.check_result{
	width:1020px;
	height:226px;
	border:1px solid #ccc;
	margin-bottom:50px;
}
.total_info{
	width:1020px;
	height:160px;
	border-bottom:1px solid #ccc;
}
.total_info .td1{
	border-right:1px solid #ccc;
}
.total_info td{
	padding:20px;
	line-height:30px;
	position:relative;
}
.total_info tr{
	color:#666;
}
.total_info td span{
	position:absolute;
	right:0;
}
.span_color{
	color:#f00;
}
.submit_order{
	width:140px;
	height:60px;
	color:#fff;
	background:#f25e5a;
	line-height:60px;
	text-align:center;
	border:none;
	float:right;
	cursor:pointer;
}
.check_total{
	width:980px;
	height:60px;
	line-height:60px;
	text-indent:600px;
	color:#666;
	font-size:12px;
}
.check_total span{
	color:#f00;
}